* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Corpo Global do jogo para centralização */
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg , rgb(54, 240, 125), rgb(193, 185, 243));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Corpo do Jogo */
.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px black;

}

/* botões */
.jogo button {
    margin: 10px;
    width: 100px;
    height: 50px;
    font-size: 18pt;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    border: solid 3px black;
}

#resetar {
    width: 350px;
    height: 40px;
    font-size: 22pt;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: solid 3px black;
    margin: 0 0 10px 0;
}

.jogo button:hover, #resetar:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
    transition: 0.5s;
}

/* Imagens das mãos */
.campoImagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 300px;
}

.campoImagens img {
    max-width: 200px;
}

.campoImagens h1 {
    font-size: 60pt;
}

.ref {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.151);
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.jogador, .robo {
    text-align: center;
}

/* valores dos resultados */
.resultados, h3 {
    display: flex;
    margin: 20px;
    font-size: 30pt;
}

#vitoria {
    color: blue;
}

#derrota {
    color: red;
}
